/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f3f4f6;
  margin: 20px;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#puzzle-board {
  display: grid;
  gap: 1px;
  background-color: #e0e0e0;
  padding: 10px;
  border: 2px solid #aaa;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
}

#puzzle-board {
  display: grid;
  gap: 1px;
  background-color: #e0e0e0;
  padding: 10px;
}

#puzzle-pieces {
  margin-top: 20px;
  display: grid;
  gap: 10px;
}

.puzzle-piece {
  cursor: grab;
  display: block;
  object-fit: cover;
}

.puzzle-piece:active {
  cursor: grabbing;
  opacity: 0.8;
}

.puzzle-piece.locked {
  cursor: not-allowed;
  opacity: 1;
}

.dropzone {
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dropzone.correct {
  background-color: #b3e5fc;
  border: none;
}

#message {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #28a745;
}
